/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#save-button {
		
	-fx-background-image: url("/resources/images/icons/content-save.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

#add-button {
		
	-fx-background-image: url("/resources/images/icons/plus.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

#delete-button {
		
	-fx-background-image: url("/resources/images/icons/delete.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

#undo-button {
		
	-fx-background-image: url("/resources/images/icons/undo.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

#redo-button {
		
	-fx-background-image: url("/resources/images/icons/redo.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

#CH-button {
		
	-fx-background-image: url("/resources/images/icons/suisse.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

#GB-button {
		
	-fx-background-image: url("/resources/images/icons/GB-Map.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
    -fx-min-height: 40.0;
    -fx-min-width: 40.0;
}

bla bli blu